<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/resource/wristwatch.ico"/>
	    <link rel="bookmark" href="/resource/wristwatch.ico"/>
        <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.bootcss.com/bulma/0.6.0/css/bulma.min.css">
        <title><%= blog.title %></title>
    </head>

    <body>
        <%- include('components/nav') %>
        <%- include('components/notification') %>