<%- include('header') %>

    <div class="columns">
        <div class="column is-4 is-offset-4">
            <form class="box" method="post" enctype="multipart/form-data">
                <h2 class="title is-4">注册</h2>
                
                <div class="field">
                    <label class="label">用户名 <span class="to-red" style="color: red;">*<sapn></label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="username" name="name">
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fa fa-check"></i>
                        </span>
                    </p>
                    <p class="help is-success">This username is available</p>
                </div>

                <div class="field">
                    <label class="label">密码 <span class="to-red" style="color: red;">*<sapn></label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-success" type="password" name="password">
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fa fa-check"></i>
                        </span>
                    </p>
                    <p class="help is-success">This password is available</p>
                </div>

                <div class="field">
                    <label class="label">重复密码 <span class="to-red" style="color: red;">*<sapn></label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-danger" type="password" name="repassword">
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fa fa-check"></i>
                        </span>
                    </p>
                    <p class="help is-danger">The password is not same.</p>
                </div>

                <div class="field">
                    <label class="label">性别 <span class="to-red" style="color: red;">*<sapn></label>
                    <p class="control">
                        <span class="select">
                            <select name="gender">
                                <option value="male">男</option>
                                <option value="female">女</option>
                                <option value="secret">保密</option>
                            </select>
                        </span>
                    </p>
                </div>

                <div class="field">
                    <label class="label">头像 <span class="to-red" style="color: red;">*<sapn></label>
                    <p class="control">
                        <input type="file" name="avatar" value="选择文件" name="avatar"/>
                    </p>
                </div>

                <div class="field">
                    <label class="label">个人简介 <span class="to-red" style="color: red;">*<sapn></label>
                    <p class="control">
                        <textarea class="textarea" placeholder="写下你最想说的话..." name="bio"></textarea>
                    </p>
                </div>

                <div class="field is-grouped">
                    <p class="control" style="width:100%;">
                        <button class="button is-primary" style="display:block; width:100%;" type="submit">注册</button>
                    </p>
                </div>
            </form>
        </div>
    </div>

<%- include('footer') %>